services:
  nginx:
    image: nginx:latest
    pull_policy: always
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/sites-enabled:/etc/nginx/sites-enabled
      - ./certs:/etc/nginx/certs
    networks:
      - nginx
networks:
  nginx:
    name: nginx
    external: true
