services:
  beanstalk:
    image: rayyounghong/beanstalkd:latest
    restart: always
    volumes:
      - beanstalk-data:/data
    ports:
      - 11300:11300/tcp
    networks:
      - nginx
networks:
  nginx:
    external: true
volumes:
  beanstalk-data: